<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>tour</display-name>
  <servlet>
    <servlet-name>handlelogin</servlet-name>
    <servlet-class>myservlet.control.HandleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handlelogin</servlet-name>
    <url-pattern>/handlelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>handleregister</servlet-name>
    <servlet-class>myservlet.control.HandleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleregister</servlet-name>
    <url-pattern>/handleregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>handlemanagerlogin</servlet-name>
    <servlet-class>myservlet.control.HandleManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handlemanagerlogin</servlet-name>
    <url-pattern>/handlemanagerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>handleliuyan</servlet-name>
    <servlet-class>myservlet.control.HandleLiuyan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleliuyan</servlet-name>
    <url-pattern>/handleliuyan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>handleshowbypage</servlet-name>
    <servlet-class>myservlet.control.HandleShowByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleshowbypage</servlet-name>
    <url-pattern>/handleshowbypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>handleexit</servlet-name>
    <servlet-class>myservlet.control.HandleExit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleexit</servlet-name>
    <url-pattern>/handleexit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>handleline</servlet-name>
    <servlet-class>myservlet.control.HandleLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleline</servlet-name>
    <url-pattern>/handleline</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>handleupdateline</servlet-name>
    <servlet-class>myservlet.control.HandleUpdateLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleupdateline</servlet-name>
    <url-pattern>/handleupdateline</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>handleresponse</servlet-name>
    <servlet-class>myservlet.control.HandleResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleresponse</servlet-name>
    <url-pattern>/handleresponse</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>updateline</servlet-name>
    <servlet-class>myservlet.control.UpdateLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateline</servlet-name>
    <url-pattern>/updateline</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>handleaddline</servlet-name>
    <servlet-class>myservlet.control.HandleAddLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleaddline</servlet-name>
    <url-pattern>/handleaddline</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>handleaddbulletin</servlet-name>
    <servlet-class>myservlet.control.HandleAddBulletin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleaddbulletin</servlet-name>
    <url-pattern>/handleaddbulletin</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>handleupdatebulletin</servlet-name>
    <servlet-class>myservlet.control.HandleUpdateBulletin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleupdatebulletin</servlet-name>
    <url-pattern>/handleupdatebulletin</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>updatebulletin</servlet-name>
    <servlet-class>myservlet.control.UpdateBulletin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatebulletin</servlet-name>
    <url-pattern>/updatebulletin</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>searchresult</servlet-name>
    <servlet-class>myservlet.control.SearchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchresult</servlet-name>
    <url-pattern>/searchresult</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>handlebookline</servlet-name>
    <servlet-class>myservlet.control.HandleBookLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handlebookline</servlet-name>
    <url-pattern>/handlebookline</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>handlelinedelete</servlet-name>
    <servlet-class>myservlet.control.HandleLineDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handlelinedelete</servlet-name>
    <url-pattern>/handlelinedelete</url-pattern>
   </servlet-mapping>
  
</web-app>

